name "video/ffmpeg-6"
project-name "ffmpeg"
classification "System/Multimedia Libraries"
summary "A very fast video and audio converter"
license-file "ffmpeg.license"
license "LGPLv2.1+, GPLv2, MIT/X11/BSD-style"
version "6.1.2"
project-url "https://www.ffmpeg.org"
source {
    archive "https://www.ffmpeg.org/releases/ffmpeg-6.1.2.tar.xz" sha256="3b624649725ecdc565c903ca6643d41f33bd49239922e45c9b1442c63dca4e38"
    patch "01-interop-new-ffmpeg.patch" drop-directories=1
    patch "03-test-awk.patch" drop-directories=1
    file "ffmpeg.license"
}
build {
    configure {
        disable-destdir-configure-option
        enable-large-files
        flag "-I/usr/X11/include" name="CFLAGS"
        // This flag breaks compilation thus disable it
        //flag "gcc_C99_ENABLE" name="CPPFLAGS"
        option "prefix=/usr"
        option "libdir=/usr/lib/64"
        // This option is already the default
        //option "mandir=/usr/share/man"
        option "cc=/usr/bin/gcc"
        option "enable-runtime-cpudetect"
        option "enable-mmx"
        option "enable-sse"
        option "enable-ssse3"
        // force additional new CPU instruction enablement
        option "enable-avx"
        option "disable-debug"
        option "enable-nonfree"
        option "enable-gpl"
        option "enable-postproc"
        option "enable-avfilter"
        option "enable-swscale"
        option "enable-libgsm"
        option "enable-libxvid"
        option "enable-libx264"
        option "enable-libx265"
        option "enable-libdav1d"
        option "enable-libwebp"
        // Don't enable it, resulting binary is not
        // redistributable
        //option "enable-libfaac"
        option "enable-libtheora"
        option "enable-libmp3lame"
        option "enable-libvorbis"
        option "enable-libvpx"
        // x11grab has been replaced by the x11xcb options
        //option "enable-x11grab"
        option "enable-libxcb"
        option "enable-libspeex"
        option "enable-pthreads"
        // Incompatible with GPLv2
        //option "enable-libopencore-amrnb"
        option "enable-libass"
        option "enable-openssl"
        option "enable-openal"
        // don't enable avresample any more, it's long-deprecated.  Use swresample
        // instead
        //option "enable-avresample"
        option "enable-swresample"
        // Incompatible with GPLv2
        //option "enable-libopencore-amrwb"
        // libschroedinger support was removed in 3.4.x
        //option "enable-libschroedinger"
        option "enable-libopenjpeg"
        option "enable-librtmp"
        option "enable-vdpau"
        option "enable-shared"
        option "disable-static"
        // these tests cause problems, skip them
        option "ignore-tests=source"
        // We do not need documentation for old ffmpeg version
        option "disable-doc"
        // We do not want the programs for ffmpeg-6
        // NOTE: once we build test support into the tooling we will need to enable this option for testing only
        option "disable-programs"
        // Original code from oi-userland to remove things
        // COMPONENT_POST_INSTALL_ACTION += $(RM) -r $(PROTOUSRBINDIR) ;
        // COMPONENT_POST_INSTALL_ACTION += $(RM) -r $(PROTOUSRSHAREDIR)/ffmpeg ;
        // Adaptions to place files into the correct directories
        option "incdir=/usr/include/ffmpeg-6"
        option "pkgconfigdir=usr/lib/64/pkgconfig/ffmpeg-6"
        // Testing related code from oi-userland
        // COMPONENT_TEST_ENV += PATH=$(PROTO_DIR)/$(CONFIGURE_BINDIR.$(BITS)):$(PATH)
        // COMPONENT_TEST_ENV += LD_LIBRARY_PATH=$(PROTO_DIR)/$(CONFIGURE_LIBDIR.$(BITS))
        // COMPONENT_TEST_TRANSFORMS+= '-n -e "/TEST/p" -e "/^IGNORE/p" '
    }
}
dependency "library/security/openssl-31" dev=true kind="require"
dependency "audio/lame" dev=true kind="require"
dependency "codec/dav1d" dev=true kind="require"
dependency "codec/libtheora" dev=true kind="require"
dependency "codec/speex" dev=true kind="require"
dependency "compress/bzip2" dev=true kind="require"
dependency "compress/xz" dev=true kind="require"
dependency "image/library/openjpeg" dev=true kind="require"
dependency "library/audio/libgsm" dev=true kind="require"
dependency "library/audio/openal" dev=true kind="require"
dependency "library/graphics/libvdpau" dev=true kind="require"
dependency "library/libvorbis" dev=true kind="require"
dependency "library/libwebp" dev=true kind="require"
dependency "library/sdl2" dev=true kind="require"
dependency "library/video/libass" dev=true kind="require"
dependency "library/video/libvpx" dev=true kind="require"
dependency "library/video/x264" dev=true kind="require"
dependency "library/video/x265" dev=true kind="require"
dependency "library/video/xvid" dev=true kind="require"
dependency "library/zlib" dev=true kind="require"
dependency "system/library" dev=true kind="require"
dependency "system/library/math" dev=true kind="require"
dependency "video/rtmpdump" dev=true kind="require"
dependency "x11/library/libdrm" dev=true kind="require"
dependency "x11/library/libx11" dev=true kind="require"
dependency "x11/library/libxcb" dev=true kind="require"
dependency "x11/library/libxext" dev=true kind="require"
dependency "x11/library/libxv" dev=true kind="require"